.css-yuzg60-MuiButtonBase-root-MuiPaginationItem-root.Mui-selected {
  background-color: none;
  border: 1px solid #4c7b29;
}
.css-1v2lvtn-MuiPaginationItem-root {
  border: 1px solid #4c7b29;
  height: 32px !important;
}
.userAction-style {
  text-decoration-line: underline;
  color: #171b1e;
}

.userTable-Style {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 700 !important;
  font-size: 20px;
  margin-left: 12px !important;
  color: #171b1e !important;
}
.userTableRow-Style {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 600 !important;
  font-size: 16px;
  color: #171b1e !important;
}
