.selectDropdown {
    width: 100%;
    background: #EEEEEE;
    border-radius: 50px;
    border-color: #EEEEEE;
    font-weight: 400;
    font-size: 16px;
    height: 60px;
    color: #171B1E;
    padding: 18px 7px 18px 22px !important;

    div {
        padding: 0 !important;
    }

    fieldset {
        width: 100%;
        border-radius: 50px;
        border-color: #EEEEEE !important;
        opacity: 0;

        &:hover {
            border-color: #EEEEEE !important;
        }

        &:focus {
            border-color: #EEEEEE !important;
            background-color: transparent;
            box-shadow: none;
        }

        &:focus-visible {
            outline: none;
            box-shadow: none !important;
        }
    }
}

ul.MuiMenu-list {
    max-height: 300px;
    margin-top: 10px;
}