.commonPermissionPopUp {
    * {
        box-sizing: border-box;
    }

    .MuiPaper-elevation.MuiPaper-rounded {
        border-radius: 20px;
        background-color: #fff;
        padding: 0;

        .dialogContent {
            max-width: 510px;
            width: 100%;
            margin: 0 auto;
            padding: 56px 42px;
            padding-top: 37px;
            padding-bottom: 50px;
            box-sizing: border-box;

            div {
                padding: 0;
                overflow: visible;

                .popUpImage {
                    text-align: center;
                    img {
                        margin-bottom: 10px;
                    }
                }

                h2 {
                    font-weight: 700;
                    font-size: 30px;
                    line-height: 40px;
                    text-align: center;
                    color: #171B1E;
                    margin: 0;
                }

                p {
                    font-weight: 400;
                    font-size: 18px;
                    line-height: 20px;
                    text-align: center;
                    color: #171B1E;
                    margin: 13px 0 0;
                }

            }
        }
    }
}