.css-yuzg60-MuiButtonBase-root-MuiPaginationItem-root.Mui-selected {
  background-color: none;
  border: 1px solid #4c7b29;
}
.css-1v2lvtn-MuiPaginationItem-root {
  border: 1px solid #4c7b29;
  height: 32px !important;
}
.Action-style {
  text-decoration-line: underline;
  color: #171b1e;
}
.locationTable-Style {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 600 !important;
  font-size: 16px;
  line-height: 20px;
  color: #171b1e;
}
.dropdown-Style{
margin-top: -18px;
  
}
.custom-dropdown{
  width: 196px;
}